.series {
    background-color: $dark-black;
    position: relative;
    .current-series {
        position: absolute;
        color: $white;
        top: -3%;
        left: 15%;
        background-color: $light-blue;
        padding: 0.8rem 1.2rem;
        font-weight: bold;
    }
}
button {
    padding: 0.8rem 3.6rem;
    border-radius: 0;
    font-weight: bold;
}
