header {
    background-color: $light-blue;
    color: $white;
    font-size: 0.8rem;

    span {
        margin-left: 3rem;
        display: inline-block;
    }
}


nav {
    background-color: $white;
    ul li {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
    
        
        
    }
}

.nav-link , .search {
    color: $light-black;
  }

  .search {
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid $light-blue;
    width: 130px;
    text-align: right;
  }


.attivo {
    color: red;
    font-weight: bold;
}