.divider {
    background: $light-blue;
    padding: 40px 0;
    position: relative;

img {
    position: absolute;
    left: 15%;
    top: -230px;
}

}


.comic-info{

    padding: 4.2rem 0;

h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #044466;
    margin-bottom: 1.5rem;
}

p {
    max-width: 81ch;
}

.avaibility {
    background-color: #55BA59;
    margin-bottom: 1.5rem;

.green {
    color: #8cf48f;
}

.white {
    color: $white;
}

.check {
    border-left: 2px solid #000;
    padding-left: 0.8rem;
}

}
}

.advsertisement {
    h3 {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: end;
        color: #464646;
    }

    img {
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}